

    <!-- Start Apply Process Area -->
    <section class="apply-process section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="process-item">
                        <i class="lni lni-user"></i>
                        <h4>Register Your Account</h4>
                        <p>Join Esprit Interlink to explore top internship opportunities and connect with recruiters.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="process-item">
                        <i class="lni lni-book"></i>
                        <h4>Upload Your Resume</h4>
                        <p>Showcase your skills and experience to attract top recruiters.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="process-item">
                        <i class="lni lni-briefcase"></i>
                        <h4>Apply for Internship</h4>
                        <p>Find the perfect internship opportunity to kickstart your career.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
